<%- include("partials/header.ejs") %>

<div class="container about">
    <h2>YOGALOVE tells about, Yoga importance in our dailylife.</h2>
    <strong><p>Here we can create blogs on different Yoga Postures.
        Yoga is important for many reasons, including its physical and mental health benefits,
         and its ability to connect people with a supportive community.</p>
        <p>Mental health : Yoga can help you relax, reduce stress, and improve your mood. It can also help you sleep
         better by helping you fall asleep and stay asleep.</p>
        <p>Physical health : 
            Yoga can improve your fitness level, flexibility, and balance. It can also help with back pain, arthritis, 
            and other chronic pain. Yoga can also help you lose weight and decrease body fat percentage.</p>
    </strong>

</div>

<%- include('partials/footer.ejs') %>